.container
  %p.header_pageTitle All Boards
  - @boards.each do |board|
    = link_to board_path(board) do
      .card
        .card_title
          = board.title
          .card_content
            = board.content
          .card_detail
            = image_tag 'default-avatar.png'
