.comment {

  &_title {
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    margin: 30px 0;
  }

  &_icon {
    width: 40x;
    height: 40px;
    margin-right: 10px;
  }

  &_content {
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #000000;
  }
}

.comments {
  display: flex;
  margin-bottom: 25px;
}