@import './variables';
.dropdown {
  position: relative;
  display: block;


 &_boards {
  font-weight: normal;
  font-size: 12px;
  display: none;
  right: 0;
  position: absolute;
  width: 80px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: white;

  a {
    padding: 8px 16px;
    text-decoration: none;
    display: block;
    background-color: white;
    border-radius: 10px;
  }

  a:hover {
    background-color: white;
    border-radius: 10px;
    display: block;
  }
 }
}

.dropdown {

 &_tasks {
  float: right;
  display: block;
  margin: 4px 10px 0 0;
 

    &_content {
      font-weight: normal;
      font-size: 12px;
      display: none;
      right: 0;
      position: absolute;
      width: 80px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      border-radius: 10px;
      background-color: white;

      a {
        padding: 8px 16px;
        text-decoration: none;
        display: block;
        background-color: white;
        border-radius: 10px;
      }

      a:hover {
        background-color: white;
        border-radius: 10px;
        display: block;
    }
  }
 }
}

.dropdown:hover .dropdown_boards {
  display: block;
  transition: 1s;
}

.dropdown_tasks:hover .dropdown_tasks_content {
  display: block;
  transition: 1s;
}
