@import 'variables';

$avatar-size: 40px;
$header-padding-y: 16px;

.header {
  display: flex;
  justify-content: space-between;
  background-color: $primary-color;
  padding-left: 10px;
  font-weight: normal;

  &_border {
    position: absolute;
    width: 1500px;
    height: 1px;
    left: 0px;
    top: 50px;
    background: #000000;
    mix-blend-mode: normal;
    opacity: 0.1;
  }

  &_pageTitle {
    position: absolute;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
  }
}
