@import 'variables';

$avatar-size: 40px;
$header-padding-y: 16px;

.header {
  display: flex;
  justify-content: space-between;
  background-color: $primary-color;
  padding-left: 10px;
  font-weight: normal;

  &_avatar {
    width: 40px;
    height: 40px;
    border-radius: 100%;
  }

  &_loginBtn {
    background-color: #F8BD1C;
    border-radius: 8px;
    font-size: 12px;
    padding: 9px 12px;
    color: $primary-color;
    font-family: Avenir;
    font-style: normal;
    font-weight: 800;
  }

  &_border {
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0px;
    top: 50px;
    background: #000000;
    mix-blend-mode: normal;
    opacity: 0.1;
    margin-top: 10px;
  }

  &_pageTitle {
    position: absolute;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
  }
}