@import './variables';

$image_size: 56px;

.profilePage {
  margin: 24px 0 0 10px;

  &_user {
    display: flex;
    margin-bottom: 40px;

    &_image {
      display: flex;
      flex-direction: column;
      justify-content: center;

      img {
        width: $image_size;
        height: $image_size;
      }
    }

    &_basicInfo {
      margin: 28px 0 0 20px;
    }

    &_actionButton {
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 12px;
      border-radius: 4px;
      border: 1px solid #F8BD1C;
      font-weight: bold;
      padding: 0px 8px;
      margin-left: 6px;

      a {
        color: #F8BD1C;
      }
    }

    &_name {
      display: flex;
      margin-bottom: 8px;
    }

    &_displayName {
      font-size: 18px;
      font-weight: bold;
      margin-right: 8px;
    }

    &_introduction {
      font-size: 12px;
    }
  }
}